<mat-sidenav-container fullscreen>
  <mat-sidenav
    color="#F0131E"
    #sidenav
    mode="push"
    [ngStyle]="{ width: '250px', 'background-color': '#F0131E' }"
    class="sidenavR"
  >
    <!-- PARTE INVISIBLE -->
    <mat-toolbar
      [ngStyle]="{
        'background-color': '#F0131E',
        padding: '8px',
      }"
    >
      <span class="spacer">
        <mat-form-field class="example-form-field">
          <mat-label>Buscar superheroe</mat-label>
          <input matInput type="text" />
        </mat-form-field>
        <button
          [ngStyle]="{ 'margin-top': '10px' }"
          mat-icon-button
          (click)="sidenav.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </span>
    </mat-toolbar>

    <mat-nav-list>
      <hr [ngStyle]="{ width: '85%' }" />
      <h4 class="subTitle">Inicio</h4>
      <mat-list-item
        *ngFor="let item of sideNavItems"
        [routerLink]="item.url"
        routerLinkActive="router-link-active"
        (click)="sidenav.toggle()"
        ><mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </mat-list-item>
    </mat-nav-list>

    <hr [ngStyle]="{ width: '85%' }" />
  </mat-sidenav>

  <!-- PARTE VISIBLE -->
  <mat-sidenav-content>
    <mat-toolbar
      [ngStyle]="{
        'align-items': 'start',
        'padding-left': 0
      }"
      class="editable"
    >
      <div class="barra">
        <button
          [ngStyle]="{
            'margin-top': '10px'
          }"
          mat-icon-button
          (click)="sidenav.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <router-outlet #visualizador></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
