<ng-template #cargando>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner color="warn"></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<h1 class="title">Listado de comics</h1>
<mat-divider></mat-divider>

<div *ngIf="datos; else cargando" class="grid bm-8 p-2">
  <div *ngFor="let comic of datos" class="col-10 sm:col-6 md:col-6 xl:col-3">
    <mat-card>
      <img
        *ngIf="comic.thumbnail"
        [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension"
        alt=""
      />
      <mat-card-content class="mb-2"> </mat-card-content>
      <mat-card-header
        class="align-items-center justify-content-center card-container"
      >
        <mat-card-title>{{ comic.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-actions
        class="align-items-center justify-content-center card-container"
      >
        <button
          mat-button
          mat-raised
          [ngStyle]="{ 'background-color': '#f0131e' }"
          [routerLink]="['/perfil-comic/', comic.id]"
        >
          Ver más
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="grid mt-3 p-2 w-full justify-content-center">
    <div class="xl:col-1 md:col-1 sm:col-1 col-1 justify-content-end flex">
      <button
        *ngIf="mostrarBotonAnterior()"
        mat-button
        mat-raised
        (click)="passPage(-1)"
        [routerLink]="['/comics/', numPage - 1]"
      >
        <mat-icon>arrow_back</mat-icon>
        Anterior
      </button>
    </div>
    <div class="xl:col-1 md:col-1 sm:col-1 col-1 justify-content-center">
      <button
        *ngIf="mostrarBotonAvanzar()"
        mat-button
        mat-raised
        (click)="passPage(+1)"
        [routerLink]="['/comics/', numPage + 1]"
      >
        <span> Siguiente </span>
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</div>
